<%= link_to urgent_path do %>
  <div class="type-nav bg-urgent">
    <div class="container">
      <div class="type-nav-content">
        <%= image_tag "arrow.svg", class:"arrow" %>
        <%= image_tag "urgent.svg", class:"type-icon" %>
        <p><strong><%= t 'home.btn_urgent' %></strong></p>
      </div>
    </div>
  </div>
<% end %>
<%= render "pages/show" %>
