<%= link_to root_path do %>
  <div class="type-nav bg-urgent">
    <div class="container">
      <div class="type-nav-content">
        <%= image_tag "arrow.svg", class:"arrow" %>
        <%= image_tag "urgent.svg", class:"type-icon" %>
        <p><strong><%= t 'home.type_urgent' %></strong> <%= @urgents.count + 2 %> <%= t("general.association") %></p>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <p id="urgent-p"><%= t('request.new.text-urgence') %></p>

  <%= link_to service_path(@soupe) do %>
    <div class="card-service">
      <% if @soupe.photo.key? %>
        <img src=<%= @soupe.photo.url %> alt="">
      <% else %>
        <%= image_tag("img-test.jpg") %>
      <% end %>
      <div class="card-service-infos">
        <h2><%= @soupe.name %></h2>
        <p> <%= @soupe.address%></p>
        <span class="card-service-type <%= @soupe.type.downcase %>"><%= @soupe.type %></span>
        <% day_open = @soupe.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
        <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") }  %>
        <% if hour_open == [] %>
          <span id="close"> <%= t 'general.close' %> </span>
        <% else %>
          <span id="open"><%= t 'general.open' %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to service_path(@unisante) do %>
    <div class="card-service">
      <% if @unisante.photo.key? %>
        <img src=<%= @unisante.photo.url %> alt="">
      <% else %>
        <%= image_tag("img-test.jpg") %>
      <% end %>
      <div class="card-service-infos">
        <h2><%= @unisante.name %></h2>
        <p> <%= @unisante.address%></p>
        <span class="card-service-type <%= @unisante.type.downcase %>"><%= @unisante.type %></span>
        <% day_open = @unisante.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
        <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") }  %>
        <% if hour_open == [] %>
          <span id="close"> <%= t 'general.close' %> </span>
        <% else %>
          <span id="open"><%= t 'general.open' %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% @urgents.each do |service| %>
    <%= link_to service_path(service) do %>
      <div class="card-service">
        <% if service.photo.key? %>
          <img src=<%= service.photo.url %> alt="">
        <% else %>
          <%= image_tag("img-test.jpg") %>
        <% end %>
        <div class="card-service-infos">
          <h2><%= service.name %></h2>
          <p> <%= service.address%></p>
          <span class="card-service-type <%= service.type.downcase %>"><%= service.type %></span>
          <% day_open = service.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
          <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") }  %>
          <% if hour_open == [] %>
            <span id="close"> <%= t 'general.close' %> </span>
          <% else %>
            <span id="open"><%= t 'general.open' %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
