<% @cares.each do |care| %>
  <%= link_to care_path(care) do %>
    <div class="card-service">
      <%= image_tag("img-test.jpg") %>
      <div class="card-service-infos">
        <h2><%= care.name %></h2>
        <p> <%= care.address%></p>
        <% day_open = care.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
        <% hour_open = day_open.select { |day| (Time.now.hour > day.opens.hour && Time.now.hour < day.closes.hour)}  %>
        <% if hour_open == [] %>
          <span id="close"> <%= t 'care.index.close' %> </span>
        <% else %>
          <span id="open"><%= t 'care.index.open' %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
