<%= link_to root_path do %>
  <div class="type-nav bg-care">
    <div class="container">
      <div class="type-nav-content">
        <%= image_tag "arrow.svg", class:"arrow" %>
        <%= image_tag "care.svg", class:"type-icon" %>
        <p><strong><%= t 'home.type_care' %></strong> <%= @cares.count %> <%= t("general.association") %></p>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <p class="pt-3"> <strong><%= t("home.type_care") %></strong> <%= @cares.count %> <%= t("general.association") %> </p>
  <% @cares.each do |care| %>
    <%= link_to care_path(care) do %>
      <div class="card-service">
        <% if care.photo.key? %>
          <img src=<%= care.photo.url %> alt="">
        <% else %>
          <%= image_tag("img-test.jpg") %>
        <% end %>
        <div class="card-service-infos">
          <h2><%= care.name %></h2>
          <p> <%= care.address%></p>
          <% day_open = care.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
          <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") }  %>
          <% if hour_open == [] %>
            <span id="close"> <%= t 'general.close' %> </span>
          <% else %>
            <span id="open"><%= t 'general.open' %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
