<%= link_to cares_path do %>
  <div class="type-nav bg-care">
    <div class="container">
      <div class="type-nav-content">
        <%= image_tag "arrow.svg", class:"arrow" %>
        <%= image_tag "care.svg", class:"type-icon" %>
        <p><strong><%= t 'home.type_care' %></strong></p>
      </div>
    </div>
  </div>
<% end %>
<%= render "pages/show" %>
