<% object = @sleep unless @sleep.nil?  %>
<% object = @eat unless @eat.nil?  %>
<% object = @care unless @care.nil?  %>
<% object = service unless service.nil?  %>

<% case object.type %>
<% when "Care" %>
  <%= link_to care_path(object) do %>
    <h2><%= service.name %></h2>
    <p><%= service.address %></p>
  <% end %>
<% when "Sleep" %>
  <%= link_to sleep_path(object) do %>
    <h2><%= service.name %></h2>
    <p><%= service.address %></p>
  <% end %>
<% when "Eat" %>
  <%= link_to eat_path(object) do %>
    <h2><%= service.name %></h2>
    <p><%= service.address %></p>
  <% end %>
<% end %>
