<div class="navbar navbar-expand-sm navbar-light navbar-fil">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "new-logo-fil.svg" %>
    <% end %>

    <div class="nav-item dropdown">
      <a href="#" class="nav-item language" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-light fa-globe"></i> <%= params[:locale] ? (I18n.t "general.#{params[:locale]}", locale: :fr) : (I18n.t "general.#{I18n.default_locale}") %>
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% locales = I18n.available_locales.select { |locale| locale.to_s != params[:locale] } %>
          <% locales.each do |locale| %>
            <%= link_to(I18n.t("general.#{locale}", locale: :fr),  {locale: locale}, class: "dropdown-item") %>
          <% end %>
      </div>
    </div>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('home.type_sleep'), sleeps_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('home.type_eat'), eats_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('home.type_care'), cares_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if current_user.admin %>
              <%= link_to t('general.reservations_admin'), requests_path, class: "nav-link" %>
            <% else %>
              <%= link_to t('general.my_reservations'), requests_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <div class="info-user">
                <%= image_tag "avatar_default.svg", class: "avatar" %>
                <%= link_to t('general.log_out'), destroy_user_session_path, method: :delete, class: "nav-link" %>
              </div>
            <% end %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to t('general.log_out'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# </div> %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('home.type_sleep'), sleeps_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('home.type_eat'), eats_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('home.type_care'), cares_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
