<div class="container">
  <div class="grid">
    <div class="form">
      <p><%= t('request.index.request') %> <%= @request.user.first_name%> <%= @request.user.last_name%></p>
      <p><%= t('request.edit.phone')%> <%= @request.user.phone_number %></p>
      <%= simple_form_for(@request) do |f| %>
        <%= f.association :service, collection: Service.where(type: "Sleep"), selected: @request.service_id, label: t('request.edit.text-label')%>
        <%= f.input :start_date, as: :date, html5: true, label: "Check-in", required: true %>
        <%= f.input :end_date, as: :date, html5: true, label: "Check-out", required: true %>
        <%= f.submit t('request.edit.update'), class: "btn button-primary" %>
      <% end %>
      <%= simple_form_for(@request) do |f| %>
        <%= f.submit t('request.edit.refused'), class: "btn button-secondary" %>
      <% end %>
      <%= link_to t('request.edit.back'), requests_path, class: "btn button-secondary" %>
    </div>
  </div>
</div>
