<div class="top-section">
  <div class="container">
    <h1>My Requests</h1>
  </div>
</div>
<div class="container">
  <% @requests.reverse_each do |request| %>
    <div class="card-service">
      <%= image_tag("img-test.jpg") %>
      <div class="card-service-infos">
        <h2><%= request.service.name %></h2>
        <p> <%= request.service.address%></p>
        <p> <%= request.start_date.strftime("%d-%m-%Y") %> - <%= request.end_date.strftime("%d-%m-%Y") %> </p>
        <% case request.status %>
        <% when "Pending" %>
          <div class="status-yellow">
            <p><%= t('request.index.pending') %></p>
          </div>
        <% when "Approved" %>
          <div class="status-green">
            <p><%= t('request.index.approved') %></p>
          </div>
        <% when "Refused" %>
          <div class="status-red">
            <p><%= t('request.index.refused') %></p>
          </div>
          <% when t('request.index.cancel') %>
          <div class="status-red">
            <p><%= t('request.edit.cancel') %></p>
          </div>
        <% end %>
        <%= link_to edit_request_path(request) do %>
          <div class='edit-btn'> <%= image_tag "edit-btn.svg"  %> </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
