<div class="top-section">
  <div class="container">
  <% if current_user.admin? %>
    <h1><%= t('request.index.title_admin') %></h1>
  <% else %>
    <h1><%= t('request.index.title') %></h1>
  <% end %>
  </div>
</div>
<div class="container">
  <% @requests.order("created_at desc").each do |request| %>
    <div class="card-service">
      <%= image_tag("img-test.jpg")
      <div class="card-service-infos">
        <h2><%= request.service.name %></h2>
        <p> <%= t('request.index.request') %> <%= request.user.first_name%> <%= request.user.last_name%> - <%= request.user.phone_number %></p>
          <% if (request.start_date != nil) %>
            <p> <%= request.start_date.strftime("%d-%m-%Y") %> - <%= request.end_date.strftime("%d-%m-%Y") %> </p>
          <% end %>
        <% case request.status %>
        <% when "Pending" %>
          <div class="status-yellow">
            <p><%= t('request.index.pending') %></p>
          </div>
        <% when "Approved" %>
          <div class="status-green">
            <p><%= t('request.index.approved') %></p>
          </div>
        <% when "Refused" %>
          <div class="status-red">
            <p><%= t('request.index.refused') %></p>
          </div>
          <% when "Cancel" %>
          <div class="status-red">
            <p><%= t('request.edit.cancel') %></p>
          </div>
        <% end %>
        <% if current_user.admin? && request.status != "Cancel" %>
          <%= link_to t('request.index.request_btn'), edit_request_path(request), class: "button-green" %>
        <% elsif request.status != "Cancel" && request.status != "Refused" %>
          <%= simple_form_for(request) do |f| %>
            <%= f.submit t('request.edit.btn_cancel'), class: "button-red" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
