<div class="top-section">
  <div class="container">
  <% if current_user.admin? %>
    <h1><%= t('request.index.title_admin') %></h1>
  <% else %>
    <h1><%= t('request.index.title') %></h1>
  <% end %>
  </div>
</div>
<div class="container">
  <% @requests.order("created_at asc").reverse_each do |request| %>
    <div class="card-service">
      <%= image_tag("img-test.jpg") %>
      <div class="card-service-infos">
        <h2><%= request.service.name %></h2>
        <p> <%= request.service.address%></p>
        <p> <%= request.start_date.strftime("%d-%m-%Y") %> - <%= request.end_date.strftime("%d-%m-%Y") %> </p>
        <% case request.status %>
        <% when "Pending" %>
          <div class="status-yellow">
            <p><%= t('request.index.pending') %></p>
          </div>
        <% when "Approved" %>
          <div class="status-green">
            <p><%= t('request.index.approved') %></p>
          </div>
        <% when "Refused" %>
          <div class="status-red">
            <p><%= t('request.index.refused') %></p>
          </div>
          <% when "Cancel" %>
          <div class="status-red">
            <p><%= t('request.edit.cancel') %></p>
          </div>
        <% end %>
        <% if current_user.admin? && request.status != t('request.index.cancel') %>
          <span>
            <%= simple_form_for(request) do |f| %>
              <%= f.submit t('request.edit.approved'), class: "button-green" %>
              <%= f.submit t('request.edit.refused'), class: "button-red" %>
            <% end %>
          </span>
        <% elsif request.status != t('request.index.cancel') && request.status != t('request.index.refused') %>
          <%= link_to edit_request_path(request) do %>
            <div class='edit-btn'> <%= image_tag "edit-btn.svg"  %> </div>
          <% end %>
        <% elsif current_user.admin == "false" %>
          <div class='edit-btn-opacity'> <%= image_tag "edit-btn.svg"  %> </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
