<% object = @sleep unless @sleep.nil?  %>
<% object = @eat unless @eat.nil?  %>
<% object = @care unless @care.nil?  %>
<% object = @service unless @service.nil?  %>

<div class="banner-show">
  <% if object.photo.key? %>
    <img src=<%= object.photo.url %> alt="">
  <% else %>
    <%= image_tag("img-test.jpg") %>
  <% end %>
</div>

<% if @sleep %>
  <% if current_user %>
    <% if current_user.admin %>
      <div class="edit-show">
        <%= link_to t('show.edit'), edit_sleep_path, class: "button-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @eat %>
  <% if current_user %>
    <% if current_user.admin %>
      <div class="edit-show">
        <%= link_to t('show.edit'), edit_eat_path, class: "button-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @care %>
  <% if current_user %>
    <% if current_user.admin %>
      <div class="edit-show">
        <%= link_to t('show.edit'), edit_care_path, class: "button-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @service %>
  <% if current_user %>
    <% if current_user.admin %>
      <div class="edit-show">
        <%= link_to t('show.edit'), edit_care_path, class: "button-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="info-show">
  <h1><%= object.name %></h1>
  <p><%= object.address %></p>
  <%= link_to "#{t 'show.link_map'}", "#map" %>
</div>

<div class="phone-show">
  <p><strong> <%= t 'show.telephone' %></strong> <%= link_to object.phone_number, "tel:#{object.phone_number}" %> </p>
</div>

<div class="opening-show">
  <% day_open = object.opening_hours.select { |hours|  hours.day_en.capitalize == (Date.today.strftime("%A")) } %>
  <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") } %>
  <% if hour_open == [] %>
      <p type="button" data-bs-toggle="collapse" data-bs-target="#openingHours" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><strong><%= t 'show.opening' %></strong> <%= t 'general.close' %> <i class="fa-solid fa-caret-down"></i></p>
  <% else %>
    <p type="button" data-bs-toggle="collapse" data-bs-target="#openingHours" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><strong><%= t 'show.opening' %></strong> <%= t 'general.open' %> <i class="fa-solid fa-caret-down"></i></p>
  <% end %>
  <div class="collapse navbar-collapse" id="openingHours">
      <% days = t('date.day_names') %>
      <% days.each do |day| %>
        <% service_day_hours = object.opening_hours.select { |opening| opening.day == day } %>
          <% if service_day_hours.length == 0 %>
            <p><%= "#{day} - #{t('general.close')}" %></p>
          <% else %>
            <p><%= "#{day} #{service_day_hours.first.opens.strftime('%H:%M')} - #{service_day_hours.last.closes.strftime('%H:%M')}" %></p>
          <% end %>
      <% end %>
  </div>
</div>

<div class="description-show">
  <p><strong><%= t 'show.description' %></strong> <%= object.description %> </p>
</div>

<div style="width: 100%; height: 300px;"
  id="map"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
