<h1><%= t 'home.title' %></h1>
<div class="grid">
  <div class="service sleep">
      <%= image_tag "sleep.svg" %>
      <p><%= t 'home.type_sleep' %></p>
  </div>
  <div class="service eat">
      <%= image_tag "eat.svg" %>
      <p><%= t 'home.type_eat' %></p>
  </div>

  <div class="service care">
      <%= image_tag "care.svg" %>
      <p><%= t 'home.type_care' %></p>
  </div>
</div>
