<% @sleeps.each do |sleep| %>
  <div class="card-sleep">
    <img src="#" />
    <div class="card-sleep-infos">
      <h2><%= sleep.name %></h2>
      <p> <%= sleep.address%></p>
      <% sleep.opening_hours.each do |hours| %>
        <% if open?(hours.opens, hours.closes) == "Open" %>
          <span id="open"><%= open?(hours.opens, hours.closes) %></span> <span><%= open_close_time(hours.opens, hours.closes) %></span>
        <% else %>
          <span id="close"><%= open?(hours.opens, hours.closes) %></span> <span><%= open_close_time(hours.opens, hours.closes) %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
