<div class="container">
  <% @sleeps.each do |sleep| %>
    <%= link_to sleep_path(sleep) do %>
      <div class="card-service">
        <% if sleep.photo.key? %>
          <img src=<%= sleep.photo.url %> alt="">
        <% else %>
          <%= image_tag("img-test.jpg") %>
        <% end %>
        <div class="card-service-infos">
          <h2><%= sleep.name %></h2>
          <p> <%= sleep.address%></p>
          <% day_open = sleep.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
          <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") } %>
          <% if hour_open == [] %>
            <span id="close"><%= t 'general.close' %></span>
          <% else %>
            <span id="open"><%= t 'general.open' %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
