<%= link_to sleeps_path do %>
  <div class="type-nav bg-sleep">
    <div class="container">
      <div class="type-nav-content">
        <%= image_tag "arrow.svg", class:"arrow" %>
        <%= image_tag "sleep.svg", class:"type-icon" %>
        <p><strong><%= t 'home.type_sleep' %></strong></p>
      </div>
    </div>
  </div>
<% end %>
<%= render "pages/show" %>
<div class="button-show">
  <%= link_to "#{t 'show.reservation'}", new_sleep_request_path(@sleep), class:"button-primary" %>
</div>
