<%= link_to sleeps_path do %>
  <div class="type-nav bg-sleep">
    <div class="container">
      <div class="type-nav-content">
        <%= image_tag "arrow.svg", class:"arrow" %>
        <%= image_tag "sleep.svg", class:"type-icon" %>
        <p><strong><%= t 'home.type_sleep' %></strong></p>
      </div>
    </div>
  </div>
<% end %>
<%= render "pages/show" %>
<% if current_user %>
<% unless current_user.admin? %>
  <div class="button-show">
    <%= link_to "#{t 'show.reservation'}", new_sleep_request_path(@sleep), class:"button-primary" %>
  </div>
  <% end %>
<% else %>
<div class="button-show">
    <%= link_to "#{t 'show.reservation_login'}", new_sleep_request_path(@sleep), class:"btn disabled button-primary", role:"button", aria_disabled:"true" %>
  </div>
<% end %>
