<div class="container">
  <p class="pt-3"> <strong><%= t("home.type_eat") %></strong> <%= @eats.count %> <%= t("general.association") %> </p>
  <% @eats.each do |eat| %>
    <%= link_to eat_path(eat) do %>
      <div class="card-service">
        <% if eat.photo.key? %>
          <img src=<%= eat.photo.url %> alt="">
        <% else %>
          <%= image_tag("img-test.jpg") %>
        <% end %>
        <div class="card-service-infos">
          <h2><%= eat.name %></h2>
          <p> <%= eat.address%></p>
          <% day_open = eat.opening_hours.select { |hours|  hours.day_en == (Date.today.strftime("%A")) } %>
          <% hour_open = day_open.select { |day| Time.now.strftime("%H:%M") > day.opens.strftime("%H:%M") && Time.now.strftime("%H:%M") < day.closes.strftime("%H:%M") }  %>
          <% if hour_open == [] %>
            <span id="close"> <%= t 'general.close' %> </span>
          <% else %>
            <span id="open"><%= t 'general.open' %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
