<!DOCTYPE html>
<html>
  <head>
    <title>Fil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  </head>

  <body>
    <%= render 'shared/welcome' if params[:locale] == nil %>
    <%= render 'shared/navbar' unless params[:locale] == nil %>
    <%= render 'shared/flashes' unless params[:locale] == nil %>
    <%= yield unless params[:locale] == nil%>
  </body>
</html>
